USE [master]
GO
/****** Object:  Database [dm3]    Script Date: 15/11/2019 19:34:35 ******/
CREATE DATABASE [dm3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dm3', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dm3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dm3_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dm3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dm3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dm3]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 15/11/2019 19:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[carID] [int] NOT NULL,
	[manufacturerID] [int] NOT NULL,
	[year] [int] NOT NULL,
	[modelID] [int] NOT NULL,
	[otherDetails] [nchar](50) NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[carID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car manufacturer]    Script Date: 15/11/2019 19:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car manufacturer](
	[carMnufacturerID] [int] NOT NULL,
	[carManufacturerName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_part manufacturer] PRIMARY KEY CLUSTERED 
(
	[carMnufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Part]    Script Date: 15/11/2019 19:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part](
	[partID] [int] NOT NULL,
	[carID] [int] NOT NULL,
	[ParentPartID] [int] NOT NULL,
	[partLevelCode] [int] NOT NULL,
	[partManufactureCode] [int] NOT NULL,
	[partTypeCode] [int] NOT NULL,
	[supplierID] [int] NOT NULL,
	[name] [nchar](50) NOT NULL,
	[weight] [int] NOT NULL,
	[condition] [nchar](50) NOT NULL,
	[mileage] [int] NOT NULL,
	[otherDetails] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Part] PRIMARY KEY CLUSTERED 
(
	[partID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[part level]    Script Date: 15/11/2019 19:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[part level](
	[partLevelID] [int] NOT NULL,
	[partLevelDescription] [nchar](50) NOT NULL,
 CONSTRAINT [PK_partlevel manufacturer] PRIMARY KEY CLUSTERED 
(
	[partLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[part manufacturer]    Script Date: 15/11/2019 19:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[part manufacturer](
	[partMnufacturerID] [int] NOT NULL,
	[partManufacturerName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_car manufacturer] PRIMARY KEY CLUSTERED 
(
	[partMnufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[part types]    Script Date: 15/11/2019 19:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[part types](
	[partTypeID] [int] NOT NULL,
	[partTypeDescription] [nchar](50) NULL,
 CONSTRAINT [PK_part types] PRIMARY KEY CLUSTERED 
(
	[partTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 15/11/2019 19:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplierID] [int] NOT NULL,
	[supplierDescription] [nchar](100) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[supplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_part manufacturer] FOREIGN KEY([manufacturerID])
REFERENCES [dbo].[part manufacturer] ([partMnufacturerID])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_part manufacturer]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_car Levels] FOREIGN KEY([carID])
REFERENCES [dbo].[Car] ([carID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_car Levels]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_PARENTPART] FOREIGN KEY([partID])
REFERENCES [dbo].[Part] ([partID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_PARENTPART]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_Part Levels] FOREIGN KEY([partLevelCode])
REFERENCES [dbo].[part level] ([partLevelID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_Part Levels]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_part manufacturer] FOREIGN KEY([partManufactureCode])
REFERENCES [dbo].[part manufacturer] ([partMnufacturerID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_part manufacturer]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_part types] FOREIGN KEY([partTypeCode])
REFERENCES [dbo].[part types] ([partTypeID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_part types]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_SUPPLIER] FOREIGN KEY([supplierID])
REFERENCES [dbo].[Supplier] ([supplierID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_SUPPLIER]
GO
USE [master]
GO
